body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    margin: 0;
}

.calculator {
    border-radius: 15px;
    width: 320px;
    height: 520px;
    padding: 40px;
    overflow: hidden;
    box-shadow:
    6px 3px  grey,
    12px 12px 20px #444, 
    25px 25px 60px rgba(0, 0, 0, 1);

    border-left: 1px solid silver;
    border-top: 1px solid silver;
    background-color: #222;
    position: relative;
}

#copyrights{
    position: absolute;
    top: 0;
    left: 27%;
    color: white;
}

#mainContent{
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    border-radius: 15px;
    background-color: #222;
    position: relative;
}
#subDisplay{
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 5.55555%;
    color: rgb(150, 150, 150);
    text-indent: 10px;
    background-color: transparent;
    border: none;
}
#display {
    width: 100%;
    height: 18.5185%;
    margin-bottom: 20px;
    font-size: 56px;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 30px;
    border: none;
    background-color: #222;
    color: white;
    background-color: #333;
    text-indent: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #222;
    width: 100%;
    height: 66.6666%;
}

.btn, #equalBtn {
    width: 100%;
    font-size: 22px;
    border: none;
    color: #f0f0f0;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn{
    height: 95%;
    border-radius: 10%;
    background-color: #444;
}

#equalBtn{
    height: 12.9629%;
    background-color: rgba(250,150,70,1);
}
#equalBtn:hover{
    background-color: rgba(250,150,70,0.6);
}

button:hover {
    background-color: #d4d4d4;
}

button:active {
    background-color: #c8c8c8;
}
